/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

:root .theme-dark {
    /* Colors */
    --page-bg-color: var(--main-color);
    --main-title-color: var(--primary-color);
    --accent-color: var(--basic-color);
    --slogan-text-color: var(--main-color);
    --content-title-color: var(--accent-color);
    --content-subtitle-color: var(--main-color);
    --content-subtitle-bg-color: var(--accent-color);
    --content-text-color: var(--secondary-color);

    /* Other */
    --main-font: "IBM Plex mono";
    --cover-image: url(../images/cover-image-dark.png);

    /* Basic vars */
    --main-color: #000028;
    --primary-color: #db00ff;
    --secondary-color: #f1b2ce;
    --basic-color: #ff0070;
}