/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    /* Colors */
    --page-bg-color: var(--secondary);
    --main-title-color: var(--primary);
    --accent-color: var(--accent);
    --slogan-text-color: var(--secondary);
    --content-title-color: var(--main);
    --content-subtitle-color: var(--main);
    --content-subtitle-bg-color: var(--accent);
    --content-text-color: var(--main);

    /* Other */
    --main-font: "IBM Plex mono";
    --cover-image: url(../images/cover-image-light.png);
    --rec-condition: transparent;

    /* Basic vars */
    --main: #353430;
    --primary: #ffc2e6;
    --secondary: #fff1f7;
    --accent: #ff8dcb;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Colors */
        --page-bg-color: var(--secondary);
        --main-title-color: var(--primary);
        --accent-color: var(--accent);
        --slogan-text-color: var(--secondary);
        --content-title-color: var(--main);
        --content-subtitle-color: var(--main);
        --content-subtitle-bg-color: var(--accent);
        --content-text-color: var(--main);

        /* Other */
        --main-font: "IBM Plex mono";
        --cover-image: url(../images/cover-image-light.png);
        --rec-condition: transparent;

        /* Basic vars */
        --main: #353430;
        --primary: #ffc2e6;
        --secondary: #fff1f7;
        --accent: #ff8dcb;
    }

    .rec {
        display: none;
    }
}
