/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    /* Basic vars */
    --main: #353430;
    --primary: #ffc2e6;
    --secondary: #fff1f7;
    --accent: #ff8dcb;

    /* Colors */
    --page-bg-color: #fff1f7;
    --decorated-color: #353430;
    --menu-color: #353430;
    --main-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --slogan-text-color: #fff1f7;
    --content-title-color: #353430;
    --content-subtitle-color: #353430;
    --content-subtitle-bg-color: #ff8dcb;
    --content-text-color: #353430;

    /* Other */
    --cover-image: url(../images/cover-image-light.png);
    --rec-condition: transparent;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Basic vars */
        --main: #353430;
        --primary: #ffc2e6;
        --secondary: #fff1f7;
        --accent: #ff8dcb;

        /* Colors */
        --page-bg-color: #fff1f7;
        --decorated-color: #353430;
        --menu-color: #353430;
        --main-title-color: #ffc2e6;
        --accent-color: #ff8dcb;
        --slogan-text-color: #fff1f7;
        --content-title-color: #353430;
        --content-subtitle-color: #353430;
        --content-subtitle-bg-color: #ff8dcb;
        --content-text-color: #353430;

        /* Other */
        --cover-image: url(../images/cover-image-light.png);
        --rec-condition: transparent;
    }

    .rec {
        display: none;
    }
}
