/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    display: grid;
    gap: 40px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* padding: 10px; */
    background-color: var(--page-bg-color);
    color: var(--secondary);
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    background-image: var(--cover-image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 100%;
    min-height: 668px;
    height: 100vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rec-element {
    position: absolute;
    right: 38px;
    top: 10px;
    z-index: -2;
}

.rec-element::before {
    content: "Rec";
    color: var(--rec-condition);
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.rec-element::after {
    position: absolute;
    top: 8px;
    right: -19px;
    content: "";
    height: 9px;
    width: 9px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--rec-condition);
    background-color: var(--rec-condition);
}

.decorated-zone::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    top: 10px;
    right: 10px;
    border-top: 1px solid var(--decorated-color);
    border-right: 1px solid var(--decorated-color);
}

.decorated-zone::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    bottom: 10px;
    left: 10px;
    border-bottom: 1px solid var(--decorated-color);
    border-left: 1px solid var(--decorated-color);
}

.header__theme-menu {
    justify-self: end;
    margin-top: 7px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    color: var(--menu-color);
    background-color: inherit;
    height: 26px;
    width: 70px;
    border: transparent;
    background: none;
    text-transform: lowercase;
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
}

.header__theme-menu-button_active {
    outline: 1px solid var(--menu-color);
    outline-offset: -1px;

    pointer-events: none;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--alternative);
    outline-offset: -1px;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--menu-color);
}

.header__title {
    margin-top: 2px;
    justify-self: center;
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-transform: lowercase;
    color: var(--main-title-color);
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__discription {
    margin-bottom: 9px;
    background-color: var(--accent-color);
    color: var(--slogan-text-color);
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    min-height: 117px;
}

.content {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    gap: 50px;
    padding: 0 10px;
}

.content__group {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
}

.content__text {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
}

.content__item {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
}

.content__title {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    color: var(--content-title-color);
}

.content__item__title {
    background-color: var(--accent-color);
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: var(--content-subtitle-color);
}

.title-decor {
    background-color: var(--accent);
    color: var(--main);
    font-weight: 700;
}

.content__item__text {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: var(--content-text-color);
}

.content__item__link {
    text-decoration: none;
    text-shadow: 2px 1px 0 var(--accent-color);
}
.content__item__link:hover {
    border-bottom: solid 1px var(--content-text-color);
}

.content__item__link:focus {
    outline: none;
}

.content__item__link:focus-visible {
    line-height: 0;
    outline: 1px solid var(--content-text-color);
}

.pictures {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
}

.pictures__group {
    display: grid;
    grid-template-areas:
        "img__sunset"
        "img__ice-cream"
        "img__tape"
        "img__books"
        "img__street";
    gap: 10px;
}

.picture__img {
    max-width: 100%;
}

.img__sunset {
    grid-area: img__sunset;
}

.img__ice-cream {
    grid-area: img__ice-cream;
}

.img__tape {
    grid-area: img__tape;
}

.img__books {
    grid-area: img__books;
}

.img__street {
    grid-area: img__street;
}

.footer__title {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 116px;
    text-transform: lowercase;
    color: var(--main-title-color);
    line-height: 82.5%;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.footer {
    /* margin-bottom: -30px; */
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 668px;
}

/* Медиазапросы */

@media (768px <= width < 1024px) {
    .page {
        /* padding: 20px; */
        min-width: 768px;
        gap: 60px;
    }

    .header {
        height: 100vh;
        padding: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        grid-template-rows: repeat(3);
        grid-template-columns: 100%;
    }

    .rec-element {
        right: 48px;
        top: 20px;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .header__title {
        position: relative;
        left: -20px;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        justify-self: start;
    }

    .header__discription {
        max-width: 364px;
        justify-self: end;
    }

    .content {
        padding: 0 20px;
        gap: 80px;
    }

    .why-group,
    .how-group {
        display: grid;
        justify-content: space-between;
        grid-template-columns: min-content minmax(472px, 1fr);
        grid-template-rows: auto;
    }

    .what-group {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .content__title {
        width: 236px;
    }

    .content__text {
        width: clamp(300px, 472px, 1fr);
    }

    .pictures {
        gap: 20px;
    }

    .pictures__group {
        display: grid;
        grid-template-columns: 229px 230px 229px;
        grid-template-rows: 192px 230px 318px;
        gap: 20px;
        grid-template-areas:
            "img__sunset img__sunset img__ice-cream"
            "img__tape img__books img__ice-cream"
            "img__tape img__street img__street";
    }

    .picture__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .footer {
        height: 100vh;
    }

    .footer__title {
        font-size: 120px;
    }
}

@media (1024px <= width) {
    .page {
        min-width: 1024px;
        gap: 60px;
    }

    .header {
        height: 100vh;
        padding: 20px;
        /* padding-left: 0; */
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .rec-element {
        right: 48px;
        top: 20px;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .header__theme-menu {
        /* margin-left: 20px; */
        margin-top: 0;
        align-self: start;
        justify-self: center;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .header__title {
        position: relative;
        left: -20px;
        justify-self: start;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__discription {
        justify-self: end;
        width: 491px;
        min-height: 71px;
    }

    .content {
        padding: 0 20px;
        gap: 80px;
    }

    .content__group {
        display: grid;
        grid-template-columns: min-content minmax(649px, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    /* .why-group,
    .how-group {
        display: grid;
        grid-template-columns: min-content minmax(649px, 1fr);
        grid-template-rows: auto;
    } */

    .what-group {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .what-group > .content__text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .what-group > .content__text > .content__item {
        display: grid;
        grid-template-rows: min-content 398px;
        grid-template-columns: auto;
    }

    .content__title {
        width: 315px;
    }

    .pictures {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 20px;
    }

    .pictures__group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 260px 315px 428px;
        gap: 20px;
        grid-template-areas:
            "img__sunset img__sunset img__ice-cream"
            "img__tape img__books img__ice-cream"
            "img__tape img__street img__street";
    }

    .picture__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .footer {
        align-self: end;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .footer__title {
        font-size: 157px;
    }
}
