/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    /* --page-bg-color: #000028;
    --main-title-color: #db00ff;
    --accent-color: #ff0070;
    --slogan-text-color: #000028; 
    --content-title-color: #ff0070;
    --content-subtitle-color: #000028;
    --content-subtitle-bg-color: #ff0070;
    --content-text-color: #f1b2ce;
    --main-font: "IBM Plex mono";
    --cover-image: url(../images/cover-image-dark.png); */

    --main-color: #000028;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --main-font: "IBM Plex mono";
    --cover-image: url(../images/cover-image-dark.png);

    --main-color-light: #000028;
    --title-color-light: #db00ff;
    --text-color-light: #f1b2ce;
    --accent-color-light: #ff0070;
}
