/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    /* Basic vars */
    --main: #000028;
    --primary: #db00ff;
    --secondary: #f1b2ce;
    --accent: #ff0070;

    /* Colors */
    --page-bg-color: #000028;
    --decorated-color: #ff0070;
    --menu-color: #ff0070;
    --main-title-color: #db00ff;
    --accent-color: #ff0070;
    --slogan-text-color: #000028;
    --content-title-color: #ff0070;
    --content-subtitle-color: #000028;
    --content-subtitle-bg-color: #ff0070;
    --content-text-color: #f1b2ce;

    /* Other */
    --main-font: "IBM Plex mono";
    --cover-image: url(../images/cover-image-dark.png);
    --rec-condition: #ff0070;
}
