/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    /* Colors */
    --page-bg-color: var(--main);
    --main-title-color: var(--primary);
    --accent-color: var(--accent);
    --slogan-text-color: var(--main);
    --content-title-color: var(--accent);
    --content-subtitle-color: var(--main);
    --content-subtitle-bg-color: var(--accent);
    --content-text-color: var(--secondary);

    /* Other */
    --main-font: "IBM Plex mono";
    --cover-image: url(../images/cover-image-dark.png);
    --rec-condition: var(--accent-color);

    /* Basic vars */
    --main: #000028;
    --primary: #db00ff;
    --secondary: #f1b2ce;
    --accent: #ff0070;
}
